
<div name="content">
<mat-divider></mat-divider>
<br>
<h2 id="sharedPostTitle">Shared Posts</h2>
<div class="share" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    
    <mat-card>
        <mat-card-header >
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title  fxLayout.gt-xs="row" fxLayout.xs="column" > <strong>2lchanm1</strong>
          </mat-card-title>
          <mat-card-subtitle  >Dog Breed</mat-card-subtitle>
          
        </mat-card-header>
        <img mat-card-image src="http://cfile28.uf.tistory.com/image/265BB53E567220C206D1B0" alt="Photo of a Shiba Inu">
          <mat-card-content>
          <p>
            호미곶
           <br>
            구룡포 200번 버스 
          </p>
        </mat-card-content>
       
        <mat-divider></mat-divider>
        <br>
        <p><strong>2chanmi</strong> 여기를 첫쨰날에 가쟝</p>
        <p><strong>gidf</strong> 오오 좋다 근데 날씨가 괜찮겠지?</p>
        <mat-card-actions fxLayout.gt-xs="row" fxLayout.xs="column">
            <mat-form-field>
                <textarea matInput placeholder="Leave a comment"></textarea>
              </mat-form-field>       
        </mat-card-actions>
      </mat-card> <mat-card>
          <mat-card-header >
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title  fxLayout.gt-xs="row" fxLayout.xs="column" > <strong>2lchanm1</strong>
            </mat-card-title>
            <mat-card-subtitle  >Dog Breed</mat-card-subtitle>
            
          </mat-card-header>
          <img mat-card-image src="http://cfile28.uf.tistory.com/image/265BB53E567220C206D1B0" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              호미곶
             <br>
              구룡포 200번 버스 
            </p>
          </mat-card-content>
         
          <mat-divider></mat-divider>
          <br>
          <p><strong>2chanmi</strong> 여기를 첫쨰날에 가쟝</p>
          <p><strong>gidf</strong> 오오 좋다 근데 날씨가 괜찮겠지?</p>
          <mat-card-actions fxLayout.gt-xs="row" fxLayout.xs="column">
              <mat-form-field>
                  <textarea matInput placeholder="Leave a comment"></textarea>
                </mat-form-field>       
          </mat-card-actions>
        </mat-card>
  
      <mat-card>
          <mat-card-header >
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title  fxLayout.gt-xs="row" fxLayout.xs="column" > <strong>2lchanm1</strong>
            </mat-card-title>
            <mat-card-subtitle  >Dog Breed</mat-card-subtitle>
            
          </mat-card-header>
          <img mat-card-image src="http://cfile28.uf.tistory.com/image/265BB53E567220C206D1B0" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              호미곶
             <br>
              구룡포 200번 버스 
            </p>
          </mat-card-content>
         
          <mat-divider></mat-divider>
          <br>
          <p><strong>2chanmi</strong> 여기를 첫쨰날에 가쟝</p>
          <p><strong>gidf</strong> 오오 좋다 근데 날씨가 괜찮겠지?</p>
          <mat-card-actions fxLayout.gt-xs="row" fxLayout.xs="column">
              <mat-form-field>
                  <textarea matInput placeholder="Leave a comment"></textarea>
                </mat-form-field>       
          </mat-card-actions>
        </mat-card>
</div>

<div class="share" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    
    <mat-card>
        <mat-card-header >
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title  fxLayout.gt-xs="row" fxLayout.xs="column" > <strong>2lchanm1</strong>
          </mat-card-title>
          <mat-card-subtitle  >Dog Breed</mat-card-subtitle>
          
        </mat-card-header>
        <img mat-card-image src="http://cfile28.uf.tistory.com/image/265BB53E567220C206D1B0" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            호미곶
           <br>
            구룡포 200번 버스 
          </p>
        </mat-card-content>
       
        <mat-divider></mat-divider>
        <br>
        <p><strong>2chanmi</strong> 여기를 첫쨰날에 가쟝</p>
        <p><strong>gidf</strong> 오오 좋다 근데 날씨가 괜찮겠지?</p>
        <mat-card-actions fxLayout.gt-xs="row" fxLayout.xs="column">
            <mat-form-field>
                <textarea matInput placeholder="Leave a comment"></textarea>
              </mat-form-field>       
        </mat-card-actions>
      </mat-card> <mat-card>
          <mat-card-header >
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title  fxLayout.gt-xs="row" fxLayout.xs="column" > <strong>2lchanm1</strong>
            </mat-card-title>
            <mat-card-subtitle  >Dog Breed</mat-card-subtitle>
            
          </mat-card-header>
          <img mat-card-image src="http://cfile28.uf.tistory.com/image/265BB53E567220C206D1B0">
          <mat-card-content>
            <p>
              호미곶
             <br>
              구룡포 200번 버스 
            </p>
          </mat-card-content>
         
          <mat-divider></mat-divider>
          <br>
          <p><strong>2chanmi</strong> 여기를 첫쨰날에 가쟝</p>
          <p><strong>gidf</strong> 오오 좋다 근데 날씨가 괜찮겠지?</p>
          <mat-card-actions fxLayout.gt-xs="row" fxLayout.xs="column">
              <mat-form-field>
                  <textarea matInput placeholder="Leave a comment"></textarea>
                </mat-form-field>       
          </mat-card-actions>
        </mat-card>
  
      <mat-card>
          <mat-card-header >
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title  fxLayout.gt-xs="row" fxLayout.xs="column" > <strong>2lchanm1</strong>
            </mat-card-title>
            <mat-card-subtitle  >Dog Breed</mat-card-subtitle>
            
          </mat-card-header>
          <img mat-card-image src="http://cfile28.uf.tistory.com/image/265BB53E567220C206D1B0" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              호미곶
             <br>
              구룡포 200번 버스 
            </p>
          </mat-card-content>
         
          <mat-divider></mat-divider>
          <br>
          <p><strong>2chanmi</strong> 여기를 첫쨰날에 가쟝</p>
          <p><strong>gidf</strong> 오오 좋다 근데 날씨가 괜찮겠지?</p>
          <mat-card-actions fxLayout.gt-xs="row" fxLayout.xs="column">
              <mat-form-field>
                  <textarea matInput placeholder="Leave a comment"></textarea>
                </mat-form-field>       
          </mat-card-actions>
        </mat-card>
</div>


<mat-paginator [length]="100"
[pageSize]="10">
</mat-paginator>

</div>