<mat-tab-group>
    <mat-tab label="scrap">
        
    <app-my-page-share></app-my-page-share>       
    </mat-tab>

    <mat-tab label="GROUP">
        <article>
<div class="share" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" style="text-align:center">
  
    <mat-card>
        <mat-card-content>
          <strong>
            
            <h1>포항여행 가즈아!</h1>
            <mat-icon>calendar</mat-icon>
             <h2>2018.05.05</h2>
            <br>
            
            <h2><mat-icon>people</mat-icon>가람,하람,아이들</h2>
         
        </strong>
        </mat-card-content>
      </mat-card><mat-card>
          <mat-card-content>
            <strong>
              
              <h1>부산-가족여행</h1>
              <mat-icon>calendar</mat-icon>
               <h2>2018.04.01~2018.04.02</h2>
              <br>
              
              <h2><mat-icon>people</mat-icon>mom</h2>
           
          </strong>
          </mat-card-content>
        </mat-card><mat-card>
            <mat-card-content>
              <strong>
                
                <h1>나홀로 제주도</h1>
                <mat-icon>calendar</mat-icon>
                 <h2>언젠가 가겠지..</h2>
                <br>
                
                <h2><mat-icon>people</mat-icon>me</h2>
             
            </strong>
            </mat-card-content>
          </mat-card>
</div>
<div class="share" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" style="text-align:center">
    <mat-card>
        <mat-card-content>
          <strong>
            
            <h1>속초 먹방</h1>
            <mat-icon>calendar</mat-icon>
             <h2>2018.05.15</h2>
            <br>
            
            <h2><mat-icon>people</mat-icon>헤원,지영</h2>
         
        </strong>
        </mat-card-content>
      </mat-card><mat-card>
          <mat-card-content>
            <strong>
              
              <h1>겨울 제주도</h1>
              <mat-icon>calendar</mat-icon>
               <h2>2018.12.05</h2>
              <br>
              
              <h2><mat-icon>people</mat-icon>하람,영수</h2>
           
          </strong>
          </mat-card-content>
        </mat-card><mat-card>
            <mat-card-content>
              <strong>
                
               <br><br><br><br><br><br>
                <mat-icon>add</mat-icon>
               
                
                
             
            </strong>
            </mat-card-content>
          </mat-card>
</div>
</article>
    </mat-tab>

   
    <mat-tab label="POSTED">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
  </mat-tab-group>

